.our-collection {
  background-image: url(../../images/bcg-collection.png);
  background-repeat: no-repeat;
  display: flex;
  margin-left: 50px;
  padding-bottom: 200px;

  .portion {
    margin-top: 130px;
    flex: 1;

    h2 {
      font-family: Fraunces;
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      text-align: center;
      color: #333d4b;
      margin-top: 71.55px;
      margin-bottom: 24px;
    }

    p {
      font-family: "Barlow";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      color: #333d4b;
      width: 255px;
    }
  }
}

